.pricePage {
    background: url(../../hey2.png) repeat;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 1024px) {

    }
    @media screen and (max-width: 600px) {
        flex-direction: column;
        width: auto;
    }
}

.pricesItems {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
@media screen and (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
}
}

.priceText {
    margin-bottom: 30px;
    color: #337ab7;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.priceInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    height: 40px;
    line-height: 40px;
}
.priceInfoEmpty {
    width: auto;
    text-align: center;
}


.priceItem {
    display: flex;
    justify-content: center;
    align-items: center;

    background: #fff;
    border-radius: 30px;
    box-shadow: inset 0 0 0 1px #d3dae1;
    -webkit-box-shadow: inset 0 0 0 1px #d3dae1;
    -moz-box-shadow: inset 0 0 0 1px #d3dae1;
    color: #0f151a;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    text-transform: none;

    background: #fff;
    border-radius: 30px;
    box-shadow: inset 0 0 0 1px #d3dae1;
    -webkit-box-shadow: inset 0 0 0 1px #d3dae1;
    -moz-box-shadow: inset 0 0 0 1px #d3dae1;
    color: #0f151a;
    font-family: 'Arial';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    padding: 5px 20px;
    text-transform: none;
    text-underline-offset: 4px;
    vertical-align: inherit;
    text-align: center;
    cursor: pointer;
}

.selectedPriceItem {
    background: #337ab7;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 30px;
    box-shadow: inset 0 0 0 1px #d3dae1;
    -webkit-box-shadow: inset 0 0 0 1px #d3dae1;
    -moz-box-shadow: inset 0 0 0 1px #d3dae1;
    color: white;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    text-transform: none;
    text-align: center;

    border-radius: 30px;
    box-shadow: inset 0 0 0 1px #d3dae1;
    -webkit-box-shadow: inset 0 0 0 1px #d3dae1;
    -moz-box-shadow: inset 0 0 0 1px #d3dae1;
    font-family: 'Arial';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin: 0;
    padding: 5px 20px;
    text-transform: none;
    text-underline-offset: 4px;
    vertical-align: inherit;
}

.priceRange {
    margin-left: 50px;
    margin-right: 50px;
}

.thumb {
    background: url('../../../public/img/hey1.jpg');
    border: none !important;
}